Makefile.in/ar-lib
/mdate-sh
/test-driver
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/build-aux
/examples/.deps
/examples/Makefilei
/tests/src/.deps
/tests/src/Makefile
/tests/src/Makefile.in
/compile
/config.guess
/config.h
/config.log
/config.status
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
*.o
*.a
